/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

.header {
  background-image: url(/apple-pie/images/apple-pie.jpg);
  height: 60vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.flex-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header h1 {
  color: white;
  font-size: 80px;
}

article {
  margin: 60px;
  font-size: 20px;
  line-height: 33px;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  padding: 30px;
}

h2 {
  padding: 20px;
}

ul,
ol {
  padding-left: 60px;
  list-style: none;
}
.ingredients-list {
  list-style: "- ";
}
ol > li {
  counter-increment: listcounter;
}

ol > li::before {
  content: counter(listcounter) ") ";
}
